@import 'src/style/mixin';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color:  $font-color;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: $background-color;
}

h1 {
    font-size: 1.3rem;
    line-height: 2rem;
}

h2 {
    font-size: .8rem;
    line-height: 1.2rem;
}

h3 {
    font-size: .65rem;
    line-height: .975rem;
}

body{
    font-size: .55rem;
    line-height: .825rem;
}

small{
    font-size: .45rem;
    line-height: .675rem;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.red {
    color:$red;
}
// .back_img{
//     background-repeat: no-repeat;
//     background-size: 100% 100%;
// }

// .margin{
//     margin: 0 auto;
// }

// .left{
//     float: left;
// }

// .right{
//     float: right;
// }

// .hide{
//     display: none;
// }

// .show{
//     display: block;
// }

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paddingTop{
    padding-top: 1.95rem;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

.page{
    z-index: 200;
    background-color: $background-color;
    p, span{
        font-family: Helvetica Neue,Tahoma,Arial;
    }
    .light{
        background-color: $background-light-color;
    }
    .rating{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 202;
    }
}

.icon{
    @include wh(1.3rem,1.3rem);
    fill: $icon-color;
    .light{
        fill: $icon-light-color;
    }
}

.number {
    display: inline-block;
    font-family: 'Helvetica Neue', Tahoma, Arial;
    @include sc(.8rem, $green);
}

.count {
    display: inline-block;
    font-family: 'Helvetica Neue', Tahoma, Arial;
    @include sc(.8rem, $orange);
}

.money {
    display: inline-block;
    font-family: 'Helvetica Neue', Tahoma, Arial;
    @include sc(.8rem, $red);
}

#header_title {
    background-color: $blue;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    @include wh(100%, 1.95rem);
}
.header_title_goback {
    display: inline-block;
    margin-top: .35rem;
    margin-left: .275rem;
    @include wh(.8rem, .8rem);
    .icon {
        fill: $icon-light-color;
    }
}
.title_head {
    @include center;
    width: 50%;
    color: $blue-font-color;
    text-align: center;
    h2 {
        color: $blue-font-color;
    }
}

#header_search {
    background-color: $blue;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    @include wh(100%, 1.95rem);
}

.header_search_icon {
    display: inline-block;
    margin-left: .1rem;
}

.header_search_icon .icon {
    @include wh(1.2rem, 1.2rem);
    fill: $icon-light-color;
}

.search_keyword {
    @include ct();
    position: absolute;
    left: 1.5rem;
    right: 0.7rem;
    .search_text {
        @include sc(0.7rem, $blue-font-color);
        width: 100%;
        background-color: transparent;
        border-bottom: #fff 2px solid;
        padding-left: 1rem;
        font-weight: bold;
    }
    .search_text::-webkit-input-placeholder {
        @include sc(0.65rem, #ddd);
        font-weight: normal;
        font-style: italic;
    }
}

.info-data {
    width: 100%;
    background: $fc;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
    ul {
        .info-data-link {
            float: left;
            width: 33.33%;
            display: block;
            border-right: 1px solid $border-color;
            span {
                display: block;
                width: 100%;
                text-align: center;
                color: $font-color1;
            }
            .info-data-top {
                padding: .853333rem 0 .453333rem;
            }
            .info-data-bottom {
                color: $font-color1;
                padding-bottom: .453333rem;
            }
        }
        .info-data-link:nth-of-type(3) {
            border: 0;
        }
    }
}

.m-form-list{
    .item {
        margin-top: 0;
        padding: .3rem .4rem .3rem .7rem;
        @include fj();
        align-items: center;
        border-top: 1px solid $border-color;
        background: $background-light-color;
        h2 {
                @include sc(.7rem, $font-color);
                font-weight: 400;
                display: flex;
                align-items: center;
                .icon{
                    @include wh(.8rem, .8rem);
                    margin-right: .3rem;
                    vertical-align: middle;
                    fill: $icon-color-active;
                }
        }
        .content {
            line-height: 1.5rem;
            p {
                text-align: left;
                padding-right: .3rem;
                @include sc(.6rem, $font-color1);
                font-weight: 400;
                font-family: Arial;
                display: inline-block;
                vertical-align: middle;
            }
            .icon {
                @include wh(1rem, 1rem);
                vertical-align: middle;
                fill: $icon-color;
            }
            .icon-big {
                @include wh(2rem, 2rem);
                @include borderRadius(50%);
                vertical-align: middle;
            }
        }
        
    }
    .item.start {
        margin-top: .4rem;
    }
    .item.end {
        border-bottom: 1px solid $border-color;
    }
    .title {
        padding: .4rem .4rem;
        @include sc(.5rem, $font-color1);
    }
}

.m-tabs{
    display: flex;
    background-color: #fff;
    padding: .3rem 0 .6rem;
    border-bottom: 1px solid #ebebeb;
    .item{
        flex: 1;
        text-align: center;
        span {
            @include sc(.65rem, #666);
            padding: .2rem .1rem;
            border-bottom: 0.12rem solid #fff;
        }
        .active{
            color: #3190e8;
            border-color: #3190e8;
        }
    }
}

.m-tab-container{
    overflow-y: auto;
    header {
        width: 100%;
        padding: .4rem;
        position: relative;
        @include fj;
        align-items: center;
        @include sc(.7rem, #666);
        font-weight: bold;
    }
}

.m-tab-choose-enter-active,
.m-tab-choose-leave-active {
    transition: opacity .5s;
}

.m-tab-choose-leave,
.m-tab-choose-leave-active {
    display: none;
}

.m-tab-choose-enter,
.m-tab-choose-leave-active {
    opacity: 0;
}

.m-list {
    header{
        @include indent05();
        color: $font-color1;
    }
    header + .item{
        border-top: 1px solid $border-color;
    }
    .item {
        width: 100%;
        background-color: $background-light-color;
        @include indent10();
        border-bottom: 1px solid $border-color;
        position: relative;
        overflow: hidden;
        .title{
            @include fj();
            margin: .2rem 0;
        }
        .content {
            color: $font-color2;
            margin:.2rem 0;
        }
    }
}

.m-sort{
    background-color: $background-light-color;
    border-bottom: 1px solid $border-color;
    position: fixed;
    top: 1.95rem;
    right: 0;
    width: 100%;
    display: flex;
    z-index: 13;
    box-sizing: border-box;
    .sort_item {
        @include wh(33.3%, 1.6rem);
        text-align: center;
        line-height: 1rem;
        .sort_item_container {
            @include wh(100%, 100%);
            position: relative;
            z-index: 14;
            background-color: $background-light-color;
            box-sizing: border-box;
            padding-top: .275rem;
            .sort_item_border {
                height: 1.05rem;
                border-right: 0.025rem solid $border-color;
            }
        }
        .sort_icon {
            vertical-align: middle;
            transition: all .3s;
            fill: $font-color1;
        }
    }
    .choose_type {
        .sort_item_container {

            .category_title {
                color: $blue;
            }
            .sort_icon {
                transform: rotate(180deg);
                fill: $blue;
            }
        }
    }
    .showlist-enter-active,
    .showlist-leave-active {
        transition: all .3s;
        transform: translateY(0);
    }
    .showlist-enter,
    .showlist-leave-active {
        opacity: 0;
        transform: translateY(-100%);
    }
    .sort_detail_type {
        width: 100%;
        position: absolute;
        display: flex;
        top: 1.6rem;
        left: 0;
        border-top: 1px solid $border-color;
        background-color: $background-light-color;
    }
    .category_container {
        .category_left {
            flex: 1;
            background-color: $background-color;
            height: 16rem;
            overflow-y: auto;
            span {
                @include sc(0.55rem, $font-color1);
                line-height: 1.8rem;
            }
            .category_left_li {
                @include fj;
                padding: 0 0.55rem;
                .category_icon {
                    @include wh(.8rem, .8rem);
                    vertical-align: middle;
                    margin-right: .275rem;
                }
                .category_count {
                    background-color: #ccc;
                    @include sc(.45rem, #fff);
                    padding: 0 .1rem;
                    border-radius: 0.8rem;
                    vertical-align: middle;
                    margin-right: 0.275rem;
                }
                .category_arrow {
                    margin-top: .5rem;
                    @include wh(.8rem, .8rem);
                }
            }
            .category_active {
                background-color: #fff;
            }
        }
        .category_right {
            flex: 1;
            background-color: $background-light-color;
            padding-left: .55rem;
            padding-right: .55rem;
            height: 16rem;
            overflow-y: auto;
            .category_right_li {
                @include fj;
                height: 1.8rem;
                line-height: 1.8rem;
                padding-right: 0.55rem;
                border-bottom: 1px solid $border-color;
                display: flex;
                align-items: center;
                span {
                    color: $font-color1;
                }
                svg {
                    @include wh(0.55rem, 0.55rem);
                }
            }
            .category_right_choosed {
                span {
                    color: $blue;
                }
            }
        }
    }
    .sort_list_container {
        width: 100%;
        .sort_list_li {
            height: 2.5rem;
            display: flex;
            align-items: center;
            svg {
                @include wh(0.65rem, 0.65rem);
                margin: 0 .55rem 0 .55rem;
            }
            p {
                line-height: 2.5rem;
                flex: auto;
                margin-left: -.275rem;
                text-align: left;
                text-indent: 0.275rem;
                border-bottom: 1px solid $border-color;
                @include fj;
                align-items: center;
                span {
                    color: $font-color1;
                }
            }
            .sort_select {
                span {
                    color: $blue;
                }
            }
        }
    }
    .filter_container {
        flex-direction: column;
        align-items: flex-start;
        background-color: $background-color;
        .filter_header_style {
            @include indent10();
            @include sc(.45rem, $font-color1);
            text-align: left;
            background-color: $background-light-color;
        }
        .filter_ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0 .55rem;
            background-color: $background-light-color;
            .filter_li {
                display: flex;
                align-items: center;
                border: 1px solid $border-color;
                @include wh(4.7rem, 1.4rem);
                margin-right: 0.275rem;
                border-radius: 0.125rem;
                padding: 0 0.275rem;
                margin-bottom: 0.275rem;
                svg {
                    @include wh(.8rem, .8rem);
                    margin-right: 0.125rem;
                }
                span {
                    @include sc(0.45rem, $font-color);
                }
                .activity_svg {
                    margin-right: .275rem;
                }
                .selected_filter {
                    color: $blue;
                }
            }
        }
        .confirm_filter {
            display: flex;
            background-color: $background-color;
            width: 100%;
            padding: .55rem;
            .filter_button_style {
                @include wh(50%, 1.8rem);
                font-size: 0.8rem;
                line-height: 1.8rem;
                border-radius: 0.2rem;
            }
            .clear_all {
                background-color: $background-light-color;
                margin-right: .5rem;
            }
            .confirm_select {
                background-color: #56d176;
                color: $blue-font-color;
                span {
                    color: $blue-font-color;
                }
            }
        }
    }
}



// 页面切换动画
.router-fade-enter-active {
	transition: opacity .3s;
}

.router-fade-enter,
.router-fade-leave-active {
	opacity: 0;
}

.router-slid-enter-active,
.router-slid-leave-active {
    transition: all .4s;
}

.router-slid-enter,
.router-slid-leave-active {
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
}