@import 'src/style/mixin';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color:  $font-color;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: $background-color;
}


.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paddingTop{
    padding-top: 1.95rem;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

.page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 1.95rem;
    z-index: 203;
    background-color: $background-color;
    p, span{
        font-family: Helvetica Neue,Tahoma,Arial;
    }
    .light{
        background-color: $background-light-color;
    }
    .rating{
        position: absolute;
        z-index: 202;
    }
}

.icon{
    @include wh(1.3rem,1.3rem);
    fill: $icon-color;
    .light{
        fill: $icon-light-color;
    }
}

.info-data {
    width: 100%;
    background: $fc;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
    ul {
        .info-data-link {
            float: left;
            width: 33.33%;
            display: block;
            border-right: 1px solid $border-color;
            span {
                display: block;
                width: 100%;
                text-align: center;
            }
            .info-data-top {
                @include sc(.55rem, $font-color);
                padding: .853333rem 0 .453333rem;
                b {
                    display: inline-block;
                    @include sc(.8rem, #f90);
                    font-weight: 700;
                    line-height: 1rem;
                    font-family: Helvetica Neue, Tahoma;
                }
            }
            .info-data-bottom {
                @include sc(.57333rem, $font-light-color);
                font-weight: 400;
                padding-bottom: .453333rem;
            }
        }
        .info-data-link:nth-of-type(2) {
            .info-data-top {
                b {
                    color: #ff5f3e;
                }
            }
        }
        .info-data-link:nth-of-type(3) {
            border: 0;
            .info-data-top {
                b {
                    color: #6ac20b;
                }
            }
        }
    }
}

.m-form-list{
    .item {
        margin-top: 0;
        padding: .3rem .4rem .3rem .7rem;
        @include fj();
        align-items: center;
        border-top: 1px solid $border-color;
        background: $background-light-color;
        h2 {
                @include sc(.7rem, $font-color);
                font-weight: 400;
                display: flex;
                align-items: center;
                .icon{
                    @include wh(.8rem, .8rem);
                    margin-right: .3rem;
                    vertical-align: middle;
                    fill: $icon-color-active;
                }
        }
        .content {
            line-height: 1.5rem;
            p {
                text-align: left;
                padding-right: .3rem;
                @include sc(.6rem, $font-light-color);
                font-weight: 400;
                font-family: Arial;
                display: inline-block;
                vertical-align: middle;
            }
            .icon {
                @include wh(1rem, 1rem);
                vertical-align: middle;
                fill: $icon-color;
            }
            .icon-big {
                @include wh(2rem, 2rem);
                @include borderRadius(50%);
                vertical-align: middle;
            }
        }
        
    }
    .item.start {
        margin-top: .4rem;
    }
    .item.end {
        border-bottom: 1px solid $border-color;
    }
    .title {
        padding: .4rem .4rem;
        @include sc(.5rem, $font-light-color);
    }
}

.m-tabs{
    display: flex;
    background-color: #fff;
    padding: .3rem 0 .6rem;
    border-bottom: 1px solid #ebebeb;
    .item{
        flex: 1;
        text-align: center;
        span {
            @include sc(.65rem, #666);
            padding: .2rem .1rem;
            border-bottom: 0.12rem solid #fff;
        }
        .active{
            color: #3190e8;
            border-color: #3190e8;
        }
    }
}

.m-tab-container{
    overflow-y: auto;
    header {
        width: 100%;
        padding: .4rem;
        position: relative;
        @include fj;
        align-items: center;
        @include sc(.7rem, #666);
        font-weight: bold;
    }
}

.m-tab-choose-enter-active,
.m-tab-choose-leave-active {
    transition: opacity .5s;
}

.m-tab-choose-leave,
.m-tab-choose-leave-active {
    display: none;
}

.m-tab-choose-enter,
.m-tab-choose-leave-active {
    opacity: 0;
}

.m-list {
    header{
        @include sc(.5rem, #999);
        padding: .2rem .4rem;
    }
    .item {
        width: 100%;
        background-color: $background-light-color;
        padding: .6rem .4rem;
        border-bottom: 1px solid $border-color;
        position: relative;
        overflow: hidden;
        display: block;
    }
    .name {
        @include fj;
        margin-bottom: .2rem;
        @include sc(.7rem, #333);
        display: inline-block;
    }
    .content {
        @include sc(.5rem, #999);
        line-height: .8rem;
    }
    .number {
        display: inline-block;
        span {
            font-family: 'Helvetica Neue', Tahoma, Arial;
        }
        span:nth-of-type(1) {
            @include sc(.7rem, #f60);
            font-weight: bold;
        }
        span:nth-of-type(2) {
            @include sc(.5rem, #666);
        }
    }
}

.m-sort{
    background-color: #fff;
    border-bottom: 0.025rem solid #f1f1f1;
    position: fixed;
    top: 1.95rem;
    right: 0;
    width: 100%;
    display: flex;
    z-index: 13;
    box-sizing: border-box;
    .sort_item {
        @include sc(0.55rem, #444);
        @include wh(33.3%, 1.6rem);
        text-align: center;
        line-height: 1rem;
        .sort_item_container {
            @include wh(100%, 100%);
            position: relative;
            z-index: 14;
            background-color: #fff;
            box-sizing: border-box;
            padding-top: .3rem;
            .sort_item_border {
                height: 1rem;
                border-right: 0.025rem solid $bc;
            }
        }
        .sort_icon {
            vertical-align: middle;
            transition: all .3s;
            fill: #666;
        }
    }
    .choose_type {
        .sort_item_container {

            .category_title {
                color: $blue;
            }
            .sort_icon {
                transform: rotate(180deg);
                fill: $blue;
            }
        }
    }
    .showlist-enter-active,
    .showlist-leave-active {
        transition: all .3s;
        transform: translateY(0);
    }
    .showlist-enter,
    .showlist-leave-active {
        opacity: 0;
        transform: translateY(-100%);
    }
    .sort_detail_type {
        width: 100%;
        position: absolute;
        display: flex;
        top: 1.6rem;
        left: 0;
        border-top: 0.025rem solid $bc;
        background-color: #fff;
    }
    .category_container {
        .category_left {
            flex: 1;
            background-color: #f1f1f1;
            height: 16rem;
            overflow-y: auto;
            span {
                @include sc(0.5rem, #666);
                line-height: 1.8rem;
            }
            .category_left_li {
                @include fj;
                padding: 0 0.5rem;
                .category_icon {
                    @include wh(.8rem, .8rem);
                    vertical-align: middle;
                    margin-right: .2rem;
                }
                .category_count {
                    background-color: #ccc;
                    @include sc(.4rem, #fff);
                    padding: 0 .1rem;
                    border: 0.025rem solid #ccc;
                    border-radius: 0.8rem;
                    vertical-align: middle;
                    margin-right: 0.25rem;
                }
                .category_arrow {
                    vertical-align: middle;
                }
            }
            .category_active {
                background-color: #fff;
            }
        }
        .category_right {
            flex: 1;
            background-color: #fff;
            padding-left: 0.5rem;
            // height: 16rem;
            overflow-y: auto;
            .category_right_li {
                @include fj;
                height: 1.8rem;
                line-height: 1.8rem;
                padding-right: 0.5rem;
                border-bottom: 0.025rem solid $bc;
                display: flex;
                align-items: center;
                span {
                    color: #666;
                }
                svg {
                    @include wh(0.6rem, 0.6rem);
                }
            }
            .category_right_choosed {
                span {
                    color: $blue;
                }
            }
        }
    }
    .sort_list_container {
        width: 100%;
        .sort_list_li {
            height: 2.5rem;
            display: flex;
            align-items: center;
            svg {
                @include wh(0.7rem, 0.7rem);
                margin: 0 .3rem 0 .8rem;
            }
            p {
                line-height: 2.5rem;
                flex: auto;
                text-align: left;
                text-indent: 0.25rem;
                border-bottom: 0.025rem solid $bc;
                @include fj;
                align-items: center;
                span {
                    color: #666;
                }
            }
            .sort_select {
                span {
                    color: $blue;
                }
            }
        }
    }
    .filter_container {
        flex-direction: column;
        align-items: flex-start;
        // min-height: 10.6rem;
        background-color: #f1f1f1;
        .filter_header_style {
            @include sc(0.4rem, #333);
            line-height: 1.5rem;
            height: 1.5rem;
            text-align: left;
            padding-left: .5rem;
            background-color: #fff;
        }
        .filter_ul {
            display: flex;
            flex-wrap: wrap;
            padding: 0 0.5rem;
            background-color: #fff;
            .filter_li {
                display: flex;
                align-items: center;
                border: 0.025rem solid #eee;
                @include wh(4.7rem, 1.4rem);
                margin-right: 0.25rem;
                border-radius: 0.125rem;
                padding: 0 0.25rem;
                margin-bottom: 0.25rem;
                svg {
                    @include wh(.8rem, .8rem);
                    margin-right: 0.125rem;
                }
                span {
                    @include sc(0.4rem, #333);
                }
                .filter_icon {
                    @include wh(.8rem, .8rem);
                    font-size: 0.5rem;
                    border: 0.025rem solid $bc;
                    border-radius: 0.15rem;
                    margin-right: 0.25rem;
                    line-height: .8rem;
                    text-align: center;
                }
                .activity_svg {
                    margin-right: .25rem;
                }
                .selected_filter {
                    color: $blue;
                }
            }
        }
        .confirm_filter {
            display: flex;
            background-color: #f1f1f1;
            width: 100%;
            padding: .3rem .2rem;
            .filter_button_style {
                @include wh(50%, 1.8rem);
                font-size: 0.8rem;
                line-height: 1.8rem;
                border-radius: 0.2rem;
            }
            .clear_all {
                background-color: #fff;
                margin-right: .5rem;
                border: 0.025rem solid #fff;
            }
            .confirm_select {
                background-color: #56d176;
                color: #fff;
                border: 0.025rem solid #56d176;
                span {
                    color: #fff;
                }
            }
        }
    }
}

// 页面切换动画
.router-fade-enter-active {
	transition: opacity .3s;
}

.router-fade-enter,
.router-fade-leave-active {
	opacity: 0;
}

.router-slid-enter-active,
.router-slid-leave-active {
    transition: all .4s;
}

.router-slid-enter,
.router-slid-leave-active {
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
}