@import 'src/style/mixin';

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption, {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color:  $font-color;
    font-weight: normal;
    font-family: "Microsoft Yahei";
    box-sizing: border-box;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:hover{
        outline: none;
    }
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
::-webkit-scrollbar  
{  
    width: 0px;  
    height: 0px;  
    background-color: #F5F5F5;  
}  
  
/*定义滚动条轨道 内阴影+圆角*/  
::-webkit-scrollbar-track  
{  
    box-shadow: inset 0 0 1px rgba(0,0,0,0);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
/*定义滑块 内阴影+圆角*/  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
}  

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}   

html,body{
    height: 100%;
    width: 100%;
    background-color: $background-color;
}


.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.paddingTop{
    padding-top: 1.95rem;
}

@keyframes backOpacity{
   0%   { opacity: 1 }
   25%  { opacity: .5 }
   50%  { opacity: 1 }
   75%  { opacity: .5 }
   100% { opacity: 1 }
}

.animation_opactiy{
    animation: backOpacity 2s ease-in-out infinite;
}

.page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 1.95rem;
    z-index: 203;
    background-color: $background-color;
    p, span{
        font-family: Helvetica Neue,Tahoma,Arial;
    }
}
.light-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 1.95rem;
    z-index: 203;
    background-color: $background-light-color;
    p, span{
        font-family: Helvetica Neue,Tahoma,Arial;
    }
}
.rating_page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 202;
    background:$background-color;
    padding-top: 1.95rem;
    p, span{
        font-family: Helvetica Neue,Tahoma,Arial;
    }
}

.icon{
    @include wh(1.3rem,1.3rem);
    fill: $icon-color;
    .light{
        fill: $icon-light-color;
    }
}

.info-data {
    width: 100%;
    background: $fc;
    box-sizing: border-box;
    border-bottom: 1px solid $border-color;
    ul {
        .info-data-link {
            float: left;
            width: 33.33%;
            display: block;
            border-right: 1px solid $border-color;
            span {
                display: block;
                width: 100%;
                text-align: center;
            }
            .info-data-top {
                @include sc(.55rem, $font-color);
                padding: .853333rem 0 .453333rem;
                b {
                    display: inline-block;
                    @include sc(.8rem, #f90);
                    font-weight: 700;
                    line-height: 1rem;
                    font-family: Helvetica Neue, Tahoma;
                }
            }
            .info-data-bottom {
                @include sc(.57333rem, $font-light-color);
                font-weight: 400;
                padding-bottom: .453333rem;
            }
        }
        .info-data-link:nth-of-type(2) {
            .info-data-top {
                b {
                    color: #ff5f3e;
                }
            }
        }
        .info-data-link:nth-of-type(3) {
            border: 0;
            .info-data-top {
                b {
                    color: #6ac20b;
                }
            }
        }
    }
}

.m-list{
    .m-list-item {
        margin-top: 0;
        padding: .3rem .4rem .3rem .7rem;
        @include fj();
        align-items: center;
        border-top: 1px solid $border-color;
        background: $background-light-color;
        h2 {
                @include sc(.7rem, $font-color);
                font-weight: 400;
                display: flex;
                align-items: center;
                .icon{
                    @include wh(.8rem, .8rem);
                    margin-right: .3rem;
                    vertical-align: middle;
                    fill: $icon-color-active;
                }
        }
        .content {
            line-height: 1.5rem;
            p {
                text-align: left;
                padding-right: .3rem;
                @include sc(.6rem, $font-light-color);
                font-weight: 400;
                font-family: Arial;
                display: inline-block;
                vertical-align: middle;
            }
            .icon {
                @include wh(1rem, 1rem);
                vertical-align: middle;
                fill: $icon-color;
            }
            .icon-big {
                @include wh(2rem, 2rem);
                @include borderRadius(50%);
                vertical-align: middle;
            }
        }
        
    }
    .m-list-item.start {
        margin-top: .4rem;
    }
    .m-list-item.end {
        border-bottom: 1px solid $border-color;
    }
    .title {
        padding: .4rem .4rem;
        @include sc(.5rem, $font-light-color);
    }
}

.tabs{
    display: flex;
    background-color: #fff;
    padding: .3rem 0 .6rem;
    border-bottom: 1px solid #ebebeb;
    .item{
        flex: 1;
        text-align: center;
        span {
            @include sc(.65rem, #666);
            padding: .2rem .1rem;
            border-bottom: 0.12rem solid #fff;
        }
        .active{
            color: #3190e8;
            border-color: #3190e8;
        }
    }
}
.tab-container{
    display: flex;
    flex: 1;
    overflow-y: auto;
}

.tab-choose-enter-active,
.tab-choose-leave-active {
    transition: opacity .5s;
}

.tab-choose-leave,
.tab-choose-leave-active {
    display: none;
}

.tab-choose-enter,
.tab-choose-leave-active {
    opacity: 0;
}

// 页面切换动画
.router-fade-enter-active,
.router-fade-leave-active {
	transition: opacity .3s;
}

.router-fade-enter,
.router-fade-leave-active {
	opacity: 0;
}

.router-slid-enter-active,
.router-slid-leave-active {
    transition: all .4s;
}

.router-slid-enter,
.router-slid-leave-active {
    transform: translate3d(2rem, 0, 0);
    opacity: 0;
}