@import 'src/style/mixin';

.address_container {
    min-height: 3.5rem;
    @include fj;
    align-items: center;
    @include indent10;
    background: url(../../../images/address_bottom.png) left bottom repeat-x;
    background-color: $background-light-color;
    background-size: auto .12rem;
    .address_empty_left {
        display: flex;
        align-items: center;
        .location_icon {
            @include wh(.8rem, .8rem);
            fill: $blue;
            margin-right: .275rem;
        }
        .add_address {
            @include sc(.7rem, $font-color);
        }
        .address_detail_container {
            margin-left: .275rem;
            header {
                @include sc(.65rem, $font-color);
                span:nth-of-type(1) {
                    font-size: .8rem;
                    font-weight: bold;
                }
            }
            .address_detail {
                width: 100%;
                display: flex;
                align-items: center;
                span {
                    @include sc(.5rem, #fff);
                    border-radius: .15rem;
                    background-color: #ff5722;
                    height: .6rem;
                    line-height: .6rem;
                    padding: 0 .2rem;
                    margin-right: .3rem;
                }
                p {
                    color:$font-color1;
                }
            }
        }
    }
}

.m-list {
    .item {
        @include fj();
        .item-left {
            width: .8rem;
            .icon {
                @include wh(.8rem, .8rem);
                fill: #4cd964;
                @include ct;
            }
        }
        .item-right {
            flex: auto;
            padding-left: .275rem;
        }
    }
}


.container_style {
    background-color: #fff;
    margin-top: .4rem;
    padding: 0 .7rem;
}

.delivery_model {
    border-left: .2rem solid $blue;
    @include indent10;
    min-height: 4rem;
    @include fj;
    align-items: center;
    .deliver_time {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        p:nth-of-type(1) {
            @include sc(.7rem, $blue);
        }
        p:nth-of-type(2) {
            @include sc(.55rem, #fff);
            background-color: $blue;
            width: 2.4rem;
            margin-top: .5rem;
            text-align: center;
            border-radius: 0.12rem;
            padding: .1rem;
        }
    }
}